<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="fullscreen" parallel="tests">
        <parameter name="resolution" value="fullscreen"/>
        <classes>
            <class name="test.StocksTest">
                <methods>
                    <include name="stockTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="medium size">
        <parameter name="resolution" value="1024x768"/>
        <classes>
            <class name="test.StocksTest">
                <methods>
                    <include name="stockTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="mini size">
        <parameter name="resolution" value="800x600"/>
        <classes>
            <class name="test.StocksTest">
                <methods>
                    <include name="stockTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>